{
  admin 0.0.0.0:2019
}

{$DOMAIN_NAME} {
  encode zstd gzip
  log {
    output stdout
    format json
  }

  @percent_encoded_path expression `{http.request.uri}.matches("^[^?]*%.*")`
  respond @percent_encoded_path "Bad Request" 400

  header {
    X-Content-Type-Options nosniff
    Referrer-Policy strict-origin-when-cross-origin
    X-Frame-Options DENY
    -Server
  }

  request_body {
    max_size 25MB
  }

  @api path /api/* /trpc/*
  reverse_proxy @api server:3000 {
    header_up X-Real-IP {remote_host}
    header_up X-Forwarded-Proto {scheme}
  }

  reverse_proxy web:80 {
    header_up X-Real-IP {remote_host}
    header_up X-Forwarded-Proto {scheme}
  }

  tls {$ACME_EMAIL}
}
